[user]
	name = @GIT_USER_NAME@
	email = @GIT_USER_EMAIL@

[core]
	editor = vim
	autocrlf = input

[init]
	defaultBranch = dev

[pull]
	rebase = false

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --
	dv = difftool

[color]
	ui = auto

[push]
	default = simple
	autoSetupRemote = true
