.tasks-backlink {
    font-size: 0;
}

.tasks-backlink a {
    font-size: 0;
}

.tasks-backlink a:before {
    content: "\21a2";
    font-family: 'its';
    font-size: 1rem;
    margin-left: 8px;
}

.tasks-edit, .tasks-postpone {
    font-size: var(--font-ui-smaller);
    font-variant: small-caps;
    font-weight: bold;
    margin-left: 1em;
}

.tasks-edit::after {
    content: '[edit]';
}

.tasks-postpone::after {
    content: '[move]';
}
