body {
    /* Resolved internal links */
    --link-decoration: none;
    --link-decoration-hover: none;

    /* Unresolved internal links */
    --link-unresolved-decoration-style: none;

    /* External links */
    --link-external-decoration: none;
    --link-external-decoration-hover: none;
}
