(
  name: "Nord",
  foreground: "#BAC6DD",
  background: "#2E3440",
  cursor: "#BAC6DD",
  bright_foreground: "#ECEFF4",
  dim_foreground: "#626B7A",
  normal: (
    black: "#3B4252",
    red: "#FF9FA7",
    green: "#B2CD9B",
    yellow: "#EBCB8B",
    blue: "#A8C9EB",
    magenta: "#B48EAD",
    cyan: "#96CFDF",
    white: "#E5E9F0",
  ),
  bright: (
    black: "#626B7A",
    red: "#FF9FA7",
    green: "#B2CD9B",
    yellow: "#EBCB8B",
    blue: "#A8C9EB",
    magenta: "#B48EAD",
    cyan: "#A1CFCE",
    white: "#ECEFF4",
  ),
  dim: (
    black: "#2E3440",
    red: "#7D4045",
    green: "#6B7D5C",
    yellow: "#9A855B",
    blue: "#546882",
    magenta: "#755D72",
    cyan: "#587D87",
    white: "#8D919A",
  ),
)
